<div class="main-container" style="height: 100%; width: 100%;">
    <app-severity-alert (showSeverityReport)="showSeverityReportUI(true)" style="padding: 0%;"></app-severity-alert>
    <div class="content-container">
        <app-data-navigator (selectedGroupForReport)="showSelectedGroup($event)"
            (showSeverityReport)="showSeverityReportUI(true)"></app-data-navigator>
        <div class="content-area">
            <app-data-timeline *ngIf="this.totalGroupData[0].checkpoints" (rowSelection)="onRowSelection($event)"></app-data-timeline>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>