<div class="content-area">
    <section style="padding: 24px;">
        <div style="margin: auto;">
            <h1 style="text-align: center;font-family: 'orbitron';letter-spacing: .15em;">We neither store your data nor your profiles, everything stays with you!</h1>
        </div>
        <div style="margin: auto;">
            <img style="height: 100%;width: 25%;display: block;margin-left: auto;margin-right: auto;background-color: yellowgreen;"
                src="../../assets/certificate-line.svg">
        </div>
    </section>    
</div>